.vs/AutoBackup/FileContentIndex/2494e88d-bfc4-47c9-92c3-20bef17b5a06.vsidx
.vs/AutoBackup/v16/.suo
.vs/AutoBackup/v16/Server/sqlite3/db.lock
.vs/AutoBackup/v16/Server/sqlite3/storage.ide
.vs/AutoBackup/v17/.suo
.vs/AutoBackup/v17/DocumentLayout.backup.json
.vs/AutoBackup/v17/DocumentLayout.json
bin/Debug/AutoBackup.exe
bin/Debug/AutoBackup.exe.config
bin/Debug/AutoBackup.pdb
bin/Release/AutoBackup.exe
bin/Release/AutoBackup.exe.config
bin/Release/AutoBackup.pdb
info.xcf
